body{
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) !important;
    height: 100%;
}

.result{
    border: 2px solid violet;
    border-radius: 10px;
    font-size: 20px;
}




.container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {

    font-size: 20px;
    text-transform: uppercase;

}

input{
    width: 50%;
    height: 50px;
    text-indent: 20px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
}

.two{
    padding-top: 30px;
    padding-bottom: 30px;    
}

.todo{
    padding: 10px;
    padding: 10px;
    margin: 10px ;
    font-size: 25px;
    font-weight: normal;
    font-family: segoe UI;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
    
}
